*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: white;
    height: 60px;
    background: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(2px);
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
}

nav li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

nav li a:hover{
    color: rgb(255, 255, 255);
}

#logo{
    margin-left: 15px;
}
.active{
    background: -webkit-linear-gradient(#ffae00,#ffc400, #ff0000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
main{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main h1{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

button{
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    height: 40px;
    font-size: 25px;
    background: #1eff00;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

button:hover{
    background: #19d400;
}

.sliderContainer{
    width:100vw;
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .slider {
    height: 750px;
    width: 100%;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items:center;
  }
  
  .slider [class*="box"] {
    overflow: hidden;
    border-radius:20px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    position:absolute;
  }
  .slider [class*="box"]:nth-child(7),
  .slider [class*="box"]:nth-child(1) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.2) translate(-50%,-50%);
    top: 10%;
    z-index:1;
  }
  .slider [class*="box"]:nth-child(2),
  .slider [class*="box"]:nth-child(6) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.4) translate(-50%,-50%);
    top: 20%;
    z-index:2;
  }
  .slider [class*="box"]:nth-child(3),
  .slider [class*="box"]:nth-child(5) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.6) translate(-50%,-50%);
    top: 30%;
    z-index:3;
  }
  .slider [class*="box"]:nth-child(4) {
    width: 60vw;
    height: 60vh;
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%,-50%);
    top: 50%;
    z-index:4;
  }
  .slider [class*="box"]:nth-child(1){
    left:-13%;}
  .slider [class*="box"]:nth-child(2){
    left:-5%;}
  .slider [class*="box"]:nth-child(3){
    left:10%;}
  .slider [class*="box"]:nth-child(4){
    left:50%;}
  .slider [class*="box"]:nth-child(5){
    left:71%;}
  .slider [class*="box"]:nth-child(6){
    left:85%;}
  .slider [class*="box"]:nth-child(7){
    left:100%;}
  .slider .firstSlide {
      -webkit-animation:  firstChild 1s;
      animation:  firstChild 1s;
  }

  /*Animation for buyers landing page slider
  To add animation referenced by public projects*/
  @-webkit-keyframes firstChild {
      0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
      100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
  }
  @keyframes firstChild {
     0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
      100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
  }